# Filecoin RPC endpoints
# Calibration testnet:
API_URL=https://api.calibration.node.glif.io/rpc/v1
# Mainnet:
# API_URL=https://api.node.glif.io/rpc/v1

PRIVATE_KEY=
PUBLIC_KEY=
CONTRACT_ADDRESS=
TREASURY_ADDRESS=
ETHERSCAN_API_KEY=
ASSETS_IPFS=
